.header {
    position: fixed;
    top: 80px;
    padding-top: 10px;
    z-index: 1000;
  }
  
  .page {
    padding-top: 20px; /* Adjust this value based on the height of your header */
  }


  .buttons {
    margin-top: 125px;
    margin-bottom: 20px;
    top: 20%;
  }

  .posts {
    background: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
  }